.done-true {
  text-decoration: line-through;
  color: grey;
}

h3 {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

header,
li {
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

input,
button {
  cursor: pointer;
}
